<nav>
  <ul>
    <li>
      <a
        routerLink="/observables"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Working with observables</a
      >
    </li>
    <li>
      <a
        routerLink="/forms"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Working with forms</a
      >
    </li>
    <li>
      <a
        routerLink="/http-client"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Working with httpClient</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
